.container{
  display: flex;
  flex-direction: column;
  margin: auto;
}
#input-number{
  /* margin-bottom: 1rem; */
  padding: 0.5rem 0.5rem;
  margin: auto;
}
#check-btn{
  background-color: rgb(68, 216, 221);
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
h1{
  text-align: center;
}
